.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #212F3D;
    font-family: cursive;
    font-size: x-large;
    font-weight: 900;
}

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 20px;
}

.TextField { 
    width: 400px;
}
